.our-best {
    .wrapper {
        .subtitle {
            margin-top: 80px;
            text-align: center;
            color: #000;
            font-family: 'Merienda-Regular';
            padding-bottom: 50px;
        }
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 75%;
    justify-content: space-evenly;
    align-content: center;
}

.card {
    width: 220px;
    height: 260px;
    background-color: rgba($color: #fff, $alpha: 0.65);
    border-radius: 10px;
    text-align: center;
    color: #000;
    margin-bottom: 20px;

    .card-img {
        display: block;
        margin: 22px auto 10px;
    }

    .card-info {
    }

    .card-price {
        text-align: right;
        margin: 10px 39px 15px;
    }
}
