.filter {
    p {
        font-size: 20px;
        text-align: center;
    }

    .search {
        display: block;
        width: 90%;

        input {
            height: 30px;
            width: 100%;
        }
    }

    .range-slider-slice {
        width: 90%;

        .noUi-target {
            margin-top: 50px;
        }
    }
}
