.our-best {
    margin-top: 100px;
    height: 490px;
    background-image: url('asset/img/mask.jpg');
    background-color: #4c3d33;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
