body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

.github {
    width: 100px;
    height: 100px;
    background: url(./asset/GitHub.png) no-repeat center;
    background-size: 60%;
    /* background: center no-repeat #eee 35%; */
}

.school {
    width: 100px;
    height: 100px;
    background: url(./asset/rs_school_js.png) no-repeat center;
    background-size: 100%;
    /* background: center no-repeat #eee 35%; */
}

.wrapper {
    width: 600px;
    margin: 0 auto;
}

.links {
    display: flex;

    justify-content: space-around;
    align-items: center;
    align-content: center;
}
